
function userIsMedicalProfessional() {
  return isAuthenticated() && callerHasRole("medicalprofessional");
}

function adviceIsPendingAndUserIsLoggedIn() {
  return request.auth != null && !('uid' in resource.data.keys());
}

function adviceBelongsToUser() {
  return request.auth != null && ('uid' in resource.data.keys()) && resource.data.uid == request.auth.uid;
}

match /ahpaa_advices/{adviceId} {
  allow get: if userIsMedicalProfessional() || adviceIsPendingAndUserIsLoggedIn() || adviceBelongsToUser();
  allow list: if userIsMedicalProfessional() || adviceBelongsToUser();
  allow create: if userIsMedicalProfessional();
  allow update: if userIsMedicalProfessional() || adviceIsPendingAndUserIsLoggedIn();
}

// demo
match /ahpaa_advices_demo/{adviceId} {
  allow read;
  allow write: if false;
}
